body, div, ul, li,
h1, h2, h3, h4,
h5, h6, p,
hr, pre, button, datagrid {
    display: block;
    padding: 0;
    margin: 0;
    font-charset: U+0020-00FF;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, datagrid {
    height: 100%;
    width: 100%;
    font-family: Homizio;
    font-size: 16px;
}

input, select {
    border-width: 1px;
    border-color: rgba(10, 0, 0, 90%);
    background-decorator: image;
    background-image-src: "../img/bg-input.png";
}
input {
    line-height: 20px;
    vertical-align: text-top;
    font-size: 16px;
    color: #999;
    height: 27px;
    padding: 2px;
}
input:hover, select:hover {
    background-color: rgba(20, 20, 20, 90%);
}

.menu {
    width: 1024px;
    height: 768px;
    margin: auto;
}

.menu .window {
    padding: 15px;
    border-width: 3px;
    border-color: rgba(5, 5, 5, 80%);
    background-decorator: image;
    background-image-src: "../img/bg.png";
}

.menu .window .title {
    font-family: Simply Mono;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #999;
/*    background-decorator: image;
    background-image-src: "../img/title-window.png";
    background-image-t-begin: 0px;
    background-image-t-end: 50px;
    background-image-s-begin: 0px;
    background-image-s-end: 2000px;
*/
}

button {
    background-decorator: image;
    background-image-src: "../img/button.png";
    header-font-effect: shadow;
    header-offset: 2px 2px;
    header-color: #111;
    color: #999;
    text-align: center;
    width: 138px;
    height: 31px;
    padding-top: 7px;
    padding-bottom: 1px;
}
button:hover {
    background-image-src: "../img/button-hover.png";
}
button:active {
    background-image-src: "../img/button-active.png";
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fclear {
    clear: both;
}

.loading {
    background-decorator: image;
    background-image-src: "../img/loading.png";
    background-image-t-begin: 0px;
    background-image-t-end: 64px;
    display: none;
}
#loading-1 {
    background-image-s-begin: 0px;
    background-image-s-end: 64px;
}
#loading-2 {
    background-image-s-begin: 64px;
    background-image-s-end: 128px;
}
#loading-3 {
    background-image-s-begin: 128px;
    background-image-s-end: 192px;
}
#loading-4 {
    background-image-s-begin: 192px;
    background-image-s-end: 256px;
}
#loading-5 {
    background-image-s-begin: 256px;
    background-image-s-end: 320px;
}
#loading-6 {
    background-image-s-begin: 320px;
    background-image-s-end: 384px;
}
#loading-7 {
    background-image-s-begin: 384px;
    background-image-s-end: 448px;
}
#loading-8 {
    background-image-s-begin: 448px;
    background-image-s-end: 512px;
}
#loading-9 {
    background-image-s-begin: 512px;
    background-image-s-end: 576px;
}
#loading-10 {
    background-image-s-begin: 576px;
    background-image-s-end: 640px;
}
#loading-11 {
    background-image-s-begin: 640px;
    background-image-s-end: 704px;
}
#loading-12 {
    background-image-s-begin: 704px;
    background-image-s-end: 768px;
}
