.menu .window {
    margin: auto;
    margin-top: 35%;
    width: 710px;
    height: 130px;
}

.menu .window .content {
}

.menu .message {
    font-size: 70px;
    text-align: center;
}

.menu button {
    padding: 5px;
    margin: auto;
    text-align: center;
    width: 150px;
}
