.helperbox {
    width: 600px;
    height: 350px;
    margin: auto;
}

.helperbox .details {
    margin-top: 5%;
    height: 90%;
}

#resumebutton {
    margin: auto;
    width: 40%;
    text-align: center;
}
