body {
}

.ingamebox {
    width: 300px;
    height: 400px;
    margin:auto;
}

.ingamebox button {
    text-align: center;
    width: 40%;
    margin: 4%;
    margin-bottom: 0;
    height: 25px;
}

.ingamebox .playerbar {
    overflow: hidden;
    margin-top: 3.5%;
    height: 76%;
}

.ingamebox .playerbar .player {
    clear: both;
}

.ingamebox .playerbar .pname{
    width: 110px;
    height: 27px;
    float: left;
    margin-top: 10px;
}

.ingamebox .playerbar button {
    float: right;
    margin: 0;
    margin-top: 10px;
    width: 150px;
}
