
.ingamemessagebox {
    position: fixed;
    bottom: 200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.ingamemessagebox .inputbox {
    border-width: 1px;
    border-color: #aaaaaa;
    background-color: rgba(0, 0, 0, 65%);
    line-height: 17px;
    font-size: 14px;
}

.ingamemessagebox input {
    margin: 3px;
    padding: 0;
    display: inline;
    border-width: 0;
    width: 394px;
}
