.serverchat {
    width: 35%;
    float: right;
    height: 100%;
}

.serverchat .content {
    height: 85%;
}

.serverchat .textbar input {
    width: 100%;
    height: 27px;
    padding: 2px;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 20px;
    vertical-align: text-top;
    font-size: 16px;
}

.serverinfo {
    width: 55%;
    float: left;
    height: 100%;
}

.loggedzone {
    height: 85%;
}

.loggedzone .player {
    padding: 0;
    height: 14%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 44%;
    float: left;
}

.loggedzone .player .name {
    font-size: 30px;
    height: 50px;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.menu .serverinfo button {
    background-color: rgba(0, 0, 0, 85%);
    text-align: center;
    vertical-align: middle;
    float: left;
    height: 10%;
    width: 150px;
    margin-top: 5%;
    margin-right: 5%;
}
.menu .serverinfo button {
    height: 20px;
    margin: auto;
}
.menu .serverinfo button:hover {
    background-color: rgba(50, 50, 50, 85%);
}
