#tlw-title {
    display: none; /* Try */
    float: left;
    top: 20%;
    left: 0;
    position: absolute;
/*    font-family: Simply Mono;
    font-size: 60px;
    color: rgba(154, 30, 30, 85%);
    text-align: center;*/
    width: 622px;
    height: 93px;

    margin-left: auto;
    margin-right: auto;

/*    background-color: rgba(0, 0, 0, 85%);*/
    border-color: rgba(5, 5, 5, 80%);
    border-width: 3px;

    background-decorator: image;
    background-image-src: "../img/title.png";
}

#bg-blood-1 {
    background-decorator: image;
    background-image-src: "../img/b5.tga";
}

.loginbox {
    width: 300px;
    height: 170px;
    margin: auto;
    background-image-t-begin: 0px;
    background-image-t-end: 240px;
    background-image-s-begin: 0px;
    background-image-s-end: 350px;
}
.menu .loginbox .title {
    font-size: 15px;
    header-font-effect: shadow;
    header-offset: 1px 1px;
    header-color: #151515;
}

.loginbox input {
    margin: 3px;
    margin-bottom: 10px;
    margin-top: 7px;
    width: 294px;
    background-image-t-begin: 0px;
    background-image-t-end: 27px;
    background-image-s-begin: 0px;
    background-image-s-end: 300px;
}

.loginbox button {
    width: 140px;
    margin-top: 7px;
}
.loginbox button:hover {
}

.loading {
    width: 32px;
    height: 32px;
    margin-top: 11px;
    margin-right: 54px;
}

#error-login {
    width: 300px;
    margin: 40px auto;
    background-image-t-begin: 0px;
    background-image-t-end: 240px;
    background-image-s-begin: 0px;
    background-image-s-end: 350px;
    text-align: center;
    color: #772222;
    display: none;
}
