.column-right {
    height: 84%;
    width: 375px;
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}
.menu .chatbox {
    height: 96%;
    width: 100%;
}
.menu .otherbox {
    height: 4%;
    width: 100%;
    margin-top: 20px;
}

.menu .chatbox .content {
    float: left;
    width: 65%;
    height: 85%;
    overflow: scroll;
}

.menu .chatbox .content scrollbarvertical {
    width: 10px;
}
/*.menu .chatbox .content sliderbar {
    background-color: rgba(0, 0, 0, 98%);
}
*/
.menu .chatbox .cusers {
    float: right;
    width: 30%;
    height: 85%;
    overflow: scroll;
}

.menu .chatbox .cusers scrollbarvertical {
    width: 10px;
}
/*.menu .chatbox .cusers sliderbar {
    background-color: rgba(0, 0, 0, 98%);
}
*/
.menu .chatbox .textbar {
    height: 15%;
/*    clear: both;
*/}

.menu .chatbox .cusers, .menu .chatbox .content {
    border-width: 1px;
    border-color: #222;
}

.menu .chatbox input {
    width: 100%;
    height: 27px;
    padding: 2px;
    margin: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 2%;
    vertical-align: text-top;
    font-size: 16px;
}

button {
    margin-left: 5%;
}

.menu .chatbox .cusers datagrid {
    font-size: 16px;
    line-height: 22px;
}

.menu .chatbox .cusers datagridheader {
    padding-left: 5px;
    padding-bottom: 5px;
}

.menu .chatbox .cusers datagridrow {
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgba(10, 10, 10, 98%);
}

.menu .chatbox .cusers datagridrow:hover {
    background-color: rgba(20, 20, 20, 98%);
}

.column-left {
    margin-left: 5px;
    height: 84%;
    width: 510px;
    float: left;
    top: 5%;
    margin-top: 10px;
}
.menu .serverbox {
    height: 70%;
    width: 100%;
}
.menu .friendbox {
    height: 30%;
    width: 100%;
    margin-top: 20px;
}

.menu .serverbox .content datagrid {
    height: 390px;
    font-size: 16px;
    line-height: 22px;
}
.menu .friendbox .content datagrid {
    height: 133px;
    font-size: 16px;
    line-height: 22px;
}

.menu .serverbox .content datagridrow,
.menu .friendbox .content datagridrow {
    padding-left: 10px;
    border-top-width: 1px;
    border-color: rgba(10, 10, 10, 98%);
}

.menu .serverbox .content datagridrow:hover,
.menu .friendbox .content datagridrow:hover {
    background-color: rgba(20, 20, 20, 98%);
}

.menu .serverbox .content button,
.menu .friendbox .content button,
.menu .otherbox .content button {
    width: 100px;
    float: right;
}

.menu .otherbox {
    margin-bottom: 6px;
}
.menu .otherbox .content button {
}

.menu .serverbox,
.menu .friendbox,
.menu .otherbox,
.menu .chatbox {
    padding-top: 10px;
}

.menu .serverbox .title,
.menu .friendbox .title,
.menu .chatbox .title {
    margin-bottom: 12px;
    border-bottom-width: 1px;
    border-color: rgba(60, 34, 34, 45%);
}

/*.menu .otherbox .content {
    margin-top: 10
}*/

.menu .chatbox .content .special_event {
    margin-left: 5px;
    color: #555;
}

.menu .chatbox .content .event {
    margin-left: 5px;
}