body {
    background-color: rgba(10, 10, 10, 65%);
}

.menu .optionsbox {
    width: 65%;
    height: 550px;
    margin: auto;
    clear: both;
    background-image-src: "../img/bg-light.png";
    background-image-t-begin: 0px;
    background-image-t-end: 596px;
    background-image-s-begin: 0px;
    background-image-s-end: 782px;
    padding-left: 55px;
    padding-right: 55px;
}

.optionsbox .bbox {
    width: 290px;
    float: right;
    margin-top: -3px;
    margin-right: -4px;
}
.menu .optionsbox .title {
    margin-bottom: 20px;
}
.optionsbox .content {
    padding: 15px;
    margin-bottom: 20px;
    height: 385px;
    clear: both;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgba(7, 7, 7, 90%);
    background-decorator: image;
    background-image-src: "../img/bg.png";
    background-image-t-begin: 0px;
    background-image-t-end: 416px;
    background-image-s-begin: 0px;
    background-image-s-end: 666px;
    z-index: 1;
}

.optionsbox .content div.tooltip {
    text-align: right;
    font-size: 11px;
    color: #772222;
}

.optionsbox .content div {
    margin-bottom: 15px;
}

.optionsbox .content label {
    float:left;
    width: 300px;
    color: #999;
}

.optionsbox .content select {
    color: #999;
    float:right;
    width: 200px;
    text-align: left;
    height: 26px;
    line-height: 23px;
    padding-left: 7px;
    background-image-t-begin: 0px;
    background-image-t-end: 26px;
    background-image-s-begin: 0px;
    background-image-s-end: 200px;
}

.optionsbox .content select selectbox {
    margin: -2px;
    margin-top: 1px;
    border-width: 3px;
    border-color: rgba(60, 20, 20, 70%);
}

.optionsbox .content select:active{
    border-width: 2px;
}

.optionsbox .content select option {
    height: 26px;
    line-height: 23px;
    border-bottom-width: 1px;
    border-color: rgba(10, 0, 0, 90%);
    background-color: rgba(20, 20, 20, 98%);
    padding-left: 7px;
    text-align: left;
    background-decorator: image;
    background-image-src: "../img/bg-input.png";
    background-image-t-begin: 0px;
    background-image-t-end: 26px;
    background-image-s-begin: 0px;
    background-image-s-end: 200px;
}

.optionsbox .content select option:last-child {
    border-bottom-width: 0px;
}

.optionsbox .content select:hover,
.optionsbox .content select option:hover {
    background-image-src: "../img/bg-input-hover.png";
}
.optionsbox input {
    background-image-t-begin: 0px;
    background-image-t-end: 16px;
    background-image-s-begin: 0px;
    background-image-s-end: 200px;
}
.optionsbox input.slide:hover sliderbar {
    background-image-src: "../img/slide-sound-hover.png";
}

.optionsbox .bbox button {
}

.optionsbox input.slide {
    float: right;
    width: 200px;
    height: 20px;
    margin-top: 3px;
}

.optionsbox input.slide sliderbar {
    width: 12px;
    background-decorator: image;
    background-image-src: "../img/slide-sound.png";
    height: 16px;
    margin-top: 2px;
    border-left: 4px;
    border-color: rgba(0, 0, 0, 1);
}
.optionsbox input.slide sliderbar:hover {
    background-image-src: "../img/slide-sound-hover.png";
}

.optionsbox tabset tabs {
    margin-left: 92px;
    margin-top: -10px;
}
.optionsbox tabset tabs tab {
    display: inline-block;
    width: 110px;
    height: 24px;
    margin-right: 8px;
    margin-bottom: 3px;
}
.optionsbox tabset tabs tab .tab {
    width: 100%;
    height: 100%;
    background-decorator: image;
    background-image-src: "../img/tab.png";
    background-image-t-begin: 0px;
    background-image-t-end: 24px;
    background-image-s-begin: 0px;
    background-image-s-end: 100px;
    header-font-effect: shadow;
    header-offset: 2px 2px;
    header-color: #111;
    color: #999;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgba(9, 9, 9, 70%);
}
#tab-1-2,
#tab-2-2,
#tab-3-2,
#tab-4-2 {
    display: none;
    background-image-src: "../img/tab-active.png";
    border-bottom-width: 0px;
    border-color: rgba(7, 7, 7, 90%);
    height: 25px;
    z-index: 2;
}
#tab-1-1:hover,
#tab-2-1:hover,
#tab-3-1:hover,
#tab-4-1:hover {
    background-image-src: "../img/tab-hover.png";
}
