body {
    background-color: rgba(10, 10, 10, 65%);
}

#arrows {
    width: 470px;
}
#left_player {
    width: 40px;
    height: 100px;
    margin-top: 150px;
    float: left;
    background-decorator: image;
    background-image-src: "../img/player-larrow.png";
}
#left_player:hover {
    background-decorator: image;
    background-image-src: "../img/player-larrow-hover.png";
}
#right_player {
    width: 40px;
    height: 100px;
    margin-top: 150px;
    float: right;
    background-decorator: image;
    background-image-src: "../img/player-rarrow.png";
}
#right_player:hover {
    background-decorator: image;
    background-image-src: "../img/player-rarrow-hover.png";
}

.playerbox {
    width: 1024;
    height: 768px;
    margin: auto;
    clear: both;
    border-color: rgba(60, 0, 0, 98%);
}

.playerbox .bbox {
    width: 300;
    margin: auto;
}

.playerbox .content {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    width: 450px;
    height: 600px;
    float: right;
    clear: both;
}

.playerbox .content .block {
    margin-bottom: 15px;
}
.playerbox .content .block h2 {
    width: 135px;
    float: left;
}
.playerbox .content .block div {
    width: 315px;    
    float: right;
}

.playerbox .bbox button {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 4px;
    width: 120px;
}