body {
    background-color: rgba(10, 10, 10, 85%);
}

.quitbox {
    width: 510px;
    height: 90px;
    margin: auto;
    clear: both;
    border-color: rgba(60, 0, 0, 98%);
}

.quitbox .content {
    width: 300px;
    margin: 30px auto 0 auto;
}

.quitbox .content button {
}
