#social-bar {
	background-color: #F00;
}

.main-social-win {
    font-family: Simply Mono;
    font-size: 22px;
    color: #999;
    margin: 0px;
    padding-left: 59px;
    padding-top: 15px;
	position: absolute;
	z-index: 15;
	width: 91px;
	height: 45px;
	top: 0px;
	left: 0px;
/*    border-width: 1px;
    border-color: rgba(200, 5, 5, 95%);*/
/*	background-color: #111;*/
	background-decorator: image;
    background-image-src: "../img/button-social.png";
/*    background-image-t-begin: 0px;
    background-image-t-end: 30px;
    background-image-s-begin: 0px;
    background-image-s-end: 100px;
*/
}

#social-bar .win {
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 50px;
	width: 250px;
	height: 300px;
	background-color: #111;
    border-width: 3px;
    border-color: rgba(5, 5, 5, 95%);
}

#social-bar .win .social-title {
	drag: drag;
	width: 100%;
	height: 28px;
	background-color: #090909;
    border-bottom-width: 1px;
    border-color: #1E1E1E;
}
#social-bar .win .resize-bar {
	height: 10px;
}
#social-bar .win .resize-bar span {
	drag: drag;
	height: 10px;
	width: 20px;
	background-color: #311;
	margin-top: -6px;
}
#social-bar .win .resize-bar span.left {
	float: left;
	margin-left: -3px;
}
#social-bar .win .resize-bar span.right {
	float: right;
	margin-right: -3px;
}
#social-bar .win .social-title span {
    width: 200px;
	margin: 3px 0px 0px 5px;
    font-family: Simply Mono;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    float: left;
}
#social-bar .win .social-title .cross {
    display: inline-block;
	background-color: #411;
	width: 15px;
	height: 15px;
	margin: 5px 5px 0px 0px;
	float: right;
}

#social-bar .win .social-content {
	height: 250px;
	overflow: scroll;
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
}

#social-bar .win .social-content scrollbarvertical {
    width: 10px;
}
#social-bar .win .social-content scrollbarvertical sliderbar {
	background-color: #222;
}
/*
#social-bar .win .social-content datagrid {
    font-size: 16px;
    line-height: 22px;
}

#social-bar .win .social-content datagridheader {
    padding-left: 5px;
    padding-bottom: 5px;
}

#social-bar .win .social-content datagridrow {
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgba(10, 10, 10, 98%);
}

#social-bar .win .social-content datagridrow:hover {
    background-color: rgba(20, 20, 20, 98%);
}
*/
#social-bar .win .social-content input {
	width: 100%;
	margin: 0px;
}
