#tooltip {
/*    position: absolute;*/
	position: relative;
	overflow: hidden;
}

#tooltip #tooltip-content {
/*	position: relative;
	display: block;*/
    max-width: 200px;
	min-height: 20px;
    padding: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 100%);
    background-color: rgba(0, 0, 0, 85%);
    font-size: 13px;
}
